<article class="article"> 
    <section class="article-header">
        <mat-icon class="favorite-icon" [ngClass]="{'favorite': article.favorite}" (click)="markAsFavorite()">grade</mat-icon>
        <img src="img/image1.jpg" alt="" width="100%" height="300px">
    </section>
    <section class="article-body">
        <h2>{{ article.title}}</h2>
        {{ article.description }}
    </section>
    <section class="article-footer">
        <span>{{ article.author }}</span> <span>{{ article.date | date:"MMM d" }} <mat-icon [style.cursor]="'pointer'" (click)="deleteArticle()">delete</mat-icon></span>
        
    </section>
</article>
