.main {
    background-color: #f2f2f3;
    min-height: 100vh;

    .dashboard-container {
        display: grid;
        grid-gap: 1rem;
    }


    @media (min-width: 600px) {
        .dashboard-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 900px) {
        .dashboard-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}