.search-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.search-input{
    margin-right: 5%;
    width: 80%;
}

.search-button{
    margin-left: 5%;
    width: 10%;
}