<button type="button" class="btn btn-primary" (click)="openModal(template)">Add article</button>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add new article</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
        <form [formGroup]="form" class="form">
            <label for="title">Title: </label>
            <input id="title" class="form-control" type="text" formControlName="title">
            <label for="author">Author: </label>
            <input id="author" class="form-control" type="text" formControlName="author">
            <label for="description">Description: </label>
            <input id="description" class="form-control" type="text" formControlName="description">
            <label for="lonDescription">Long Description</label>
            <textarea name="lonDescription" class="form-control" id="longDescription"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" [disabled]="form.invalid" (click)="saveArticle()">Save Article </button>
    </div>
  </ng-template>